<form method="post" action="/groups/<%= params[:group] %>/edit">
  <label for="group_name">Please enter a new group name: 
    <input name="group_name" id="group_name" value="<%= params[:group_name] || params[:group] %>">
    <button type="submit">Submit</button>
  </label>
</form>