<p><%= display_group_count %></p>
<ul>
  <% @groups.each do |current_group| %>
    <li>
      <a href="/groups/<%= current_group[:name] %>/contacts"><%= current_group[:name] %></a>
    </li>
  <% end %>
</ul>
<a href="/new_group">Create Group</a>