<html>
  <title>Contact List</title>
  <body>
    <h1>
      <a href="/groups">Contact List App</a>
    </h1>

    <% if session[:message] %>
      <%= session.delete(:message) %>
    <% end %>
    
    <%= yield %>

  </body>
</html>